*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1D140E;
    font-family: 'Inter';
}

.navbar-brand{
    margin-left: 5px;
}

nav
{
    border-bottom: 1px solid #D9A441;
    font-family: 'Space Grotesk';
    width: 100%;
}

.bg-dark-light
{
   background-color: #251A12;
}

.bg-terracota
{
   background-color: #C9663A;
}


.text-gold-light
{
   color: #B8A78F;
}


.text-terracota
{
   color: #C9663A;
}

.font-12
{
  font-size: 12px;
}

.font-space-mono
{
   font-family: 'Space Mono';
}

.container-bordas
{
   border: 1px solid;
   border-radius: 5px;
}

.border-top-gold-light
{
  border-top: 1px solid #b8a78f86;
}

.border-bottom-gold-light
{
  border-bottom: 1px solid #b8a78f86;
}




@media (max-width:768px)
{

}

@media (min-width:769px)
{
   .border-right-gold
   {
      border-right: 1px solid #D9A441;
   }
}